:root {
  --primary-white: #fff;
  --primary-green: #129247;
  --primary-red: #e2345d;
  --primary-black: rgb(48, 43, 43);
  --primary-gray: rgba(158, 154, 154, 0.589);
  --primary-purple: rgb(245, 177, 177);
  --primary-yellow: rgb(187, 216, 20);
  --primary-gray-light: rgb(175, 177, 165);
  --primary-gray-dark: rgb(93, 94, 89);
}

body {
  font-family: "Roboto", sans-serif !important;
}

/*navbar mylogo */

.navbarbrand img {
  width: 14rem;
  bottom: 10px;
  position: absolute;
}

.container {
  z-index: 2;
}

@media (max-width: 768px) {
  .navbarbrand img {
    width: 0rem;
  }
}

/*navbar menu links */

.navlinks {
  font-weight: 800;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border-top: 0.186 solid darkblue;
}

.navbarbrand {
  max-width: 17.25rem;
  padding: 4 !important;
  height: 6rem !important;
}

@media (max-width: 768px) {
  .navbarbrand {
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .navbar-toggler-icon {
    color: white !important;
  }
}

.active {
  margin-left: 3rem;
  text-decoration: none !important;
}

.active:focus {
  border-top: 4px solid var(--primary-green) !important;
  margin-top: 10px !important;
}

.active:hover {
  border-top: 3px solid var(--primary-green) !important;
}

/*Header */

.header-wrager {
  position: relative;
  background: url(headerbeach.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-green);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 3px black;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/*Typed Text */

.typed-Text {
  font-size: 3rem;
  color: var(--primary-red);
  font-weight: bold;
  text-shadow: 3px 3px var(--primary-yellow);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.8rem !important;
  }
  .typed-Text {
    font-size: 1.6rem !important;
  }
}

/*Header main BUTTON */
.btn-main-offer {
  border: 1px solid violet;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
  font-weight: bold;
  background-color: var(--primary-black);
  z-index: 1;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  transition: 0.2 ease-in-out;
}

/* PARTICLES STYLE*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/* About me*/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 20rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-red);
}

.about-heading {
  color: var(--primary-green);
  text-transform: uppercase;
}

/* Services */

.services {
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--primary-purple);
}

.services h1 {
  color: var(--primary-black);
  font-family: "Roboto", sans-serif !important;
  font-size: 2.2rem;
  color: var(--primary-white);
}

.services p {
  font-size: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.services .circle {
  position: relative;
  margin: 0.375rem;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  left: 33%;
  margin-top: 1rem;
}

.services h3 {
  margin-top: 1rem;
  justify-content: center;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 5px solid var(--primary-red);
  padding: 0.625rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background: var(--primary-green);
  border-bottom: 0.3125 solid var(--primary-black);
}

.services .box:hover .icon {
  color: var(--primary-black);
}

.services .box:hover .circle {
  background: var(--primary-white);
}
.services .box:hover .p {
  background: var(--primary-white);
}

.frontEndIcon i {
  font-size: 3rem;
  color: rgb(228, 13, 167);
  margin: 5px;
}
.githubLink h3 {
  margin-top: 20px;
  color: black;
}

.githubLink:hover {
  color: rgb(228, 228, 206);
  text-decoration: none !important;
}

.backEndIcon i {
  font-size: 4rem;
  color: rgb(21, 148, 21);
  margin: 5px;
}

/* Experience */

.experience {
  padding: 0.7rem;
  background-color: rgb(240, 243, 225);
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-green);
  margin-top: 0rem;
}

.experience-wrapper:before {
  position: absolute;
  content: "";
  top: 10;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-gray-light);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--primary-red);
  background-color: var(--primary-black);
  margin-top: 1.2rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-gray-dark);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-purple);
  font-weight: 900;
}

@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
  .timeline-block-right {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/* Portafolio */

.portafolio-wrapper {
  background-color: rgb(161, 161, 228);
  padding: 3rem 0;
  /* width: 100%;
  height: auto; */
}

.portafolio-image {
  width: 15rem;
  border: 1px solid orange;
  padding: 0 0.5rem;
}

.portafolio-image-box {
  position: relative;
  margin: 1rem;
}

.overflow {
  position: absolute;
  opacity: 0;
  background-color: black;
  width: 15rem;
  height: 9rem;
  top: 0;
  border: 1px solid black;
  cursor: pointer;
}

.portafolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.icon-portafolio {
  position: absolute;
  opacity: 1;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: orangered;
  font-size: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.portafolio-image-box:hover .icon-portafolio {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: progress;
}

/* pop up */

.image-popup-burger {
  width: 45rem;
  padding: 2 0.5rem;
}

.recordshop-link {
  cursor: pointer;
  color: orangered;
  font-weight: 700;
}

.recordshop-link:hover {
  color: red;
}

.popupbox-wrapper {
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .portafolio-image {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .popupbox-wrapper {
    height: 100% !important;
  }
}

/* contact form */

.contactForm {
  margin-top: 10px;
  margin-bottom: 220px;
  height: 70vh !important;
}

@media (max-width: 500px) {
  .contactForm {
    width: 100% !important;
    height: 100% !important;
    margin-left: 30px !important;
  }
}

.buttonContact {
  font-weight: 800;
  color: #129247 !important;
}

.contacts h1 {
  font-weight: 800 !important;
  color: purple !important;
  text-shadow: 2px 2px red;
}

.containerContact {
  background-color: rgb(229, 232, 217) !important;
  color: #333 !important;
  font-weight: bold !important;
}

/* MEDIA */
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/* footer */

.footerlogo img {
  width: 15rem;
}

@media (max-width: 360px) {
  .footerlogo img {
    width: 10rem;
  }
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  footer.footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

.contactForm {
  border-radius: 2px solid black;
}

.avatar {
  width: 20%;

  margin-left: 30%;
}
